body {
	color: #dad7cd;
	background-color: #1e2817;
	font-family: "Space Mono", monospace;
	overflow: hidden;
}

header {
	width: 100%;
	font-size: 25px;
	font-weight: bold;
}

#dateText {
	margin-top: 5px;
	margin-bottom: 1px;
	margin-right: 1%;
	text-align: right;
}

hr {
	margin-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
	height: 2px;
	width: 70%;
}

h1 {
	text-align: center;
	font-size: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.author {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

h2 {
	font-size: 55px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#container {
	height: 100%;
	width: 100%;
	margin: 2px;
	padding-left: 2vw;
}

.panel {
	display: inline-block;
	vertical-align: top;
	width: 22%;
	padding-right: 40px;
}

img {
	width: 95%;
	border: 5px solid #dad7cd;
	margin-top: 80px;
}

@media screen and (max-width: 2559px) {
	header h1 {
		font-size: 80px;
	}
	.panel h2 {
		font-size: 30px;
	}
	.panel p {
		font-size: 14px;
	}
	ul li {
		font-size: 12px;
	}
	img {
		width: 80%;
	}
}

@media screen and (max-width: 1670px) {
	.panel h2 {
		font-size: 45px;
	}

	.panel {
		padding-right: 20px;
	}
}

@media screen and (max-width: 1400px) {
	.panel h2 {
		font-size: 35px;
	}
}

@media screen and (max-width: 1100px) {
	.panel {
		width: 45%;
	}
	header h1 {
		font-size: 60px;
	}
}

@media screen and (max-width: 800px) {
	.panel {
		width: 90%;
	}
	.panel h2 {
		font-size: 45px;
	}
	header h1 {
		font-size: 12px;
	}
}

@media screen and (max-width: 550px) {
	h1 {
		font-size: 45px;
	}
	.panel h2 {
		font-size: 30px;
	}
}
