body {
  color: #dad7cd;
  background-color: #1e2817;
  font-family: "Space Mono", monospace;
}

header {
  font-size: 25px;
  font-weight: bold;
  width: 90vw;
}

#dateText {
  margin-top: 10px;
  margin-bottom: 1px;
  text-align: right;
}

hr {
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 70%;
  border: none;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(transparent),
    to(transparent),
    color-stop(50%, #dad7cd)
  );
}

h1 {
  text-align: center;
  font-size: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.author {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#container {
  height: 100%;
  width: 100%;
  margin: 2px;
}

.panel {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  padding-right: 40px;
  border: 1px;
  margin: 1px;
}

img {
  border: 5px solid #dad7cd;
  margin-top: 80px;
}

@media screen and (max-width: 1670px) {
  h2 {
    font-size: 45px;
  }

  .panel {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1400px) {
  h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 1100px) {
  .panel {
    width: 45%;
  }
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 800px) {
  .panel {
    width: 90%;
  }
  h2 {
    font-size: 45px;
  }
  header {
    font-size: 12px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
}
